<h1>Nana Ato Sackey</h1>
<p>Email: nanaaks@outlook.com</p>
<p>Phone: 647-522-7848</p>
<br/>
<h2>Education</h2>
<ul>
    <li>Graduate Certificate: Information Technology Solutions - Humber Polytechnic</li>
</ul>
<br/>
<h2>Skills</h2>
<ul>
    <li>Programming languages: Java, Kotlin, C#, Python, HTML, css, JavaScript</li>
    <li>Tools and environments: MySQL, Eclipse, IntelliJ, Android Studio, Hadoop, Hive</li>
    <li>Experience with System Administration, Cloud Services and Web Development</li>
</ul>
<br/>
<h2>Experience</h2>
<ul>
    <li><strong>Team Project – Event Management Web App </strong> (2025)
        <p>Worked collaboratively to design and develop a web application, focusing on using APIs and JavaScript</p></li>
</ul>
<br/>
<h2>Certifications</h2>
<ul>
    <li>COMPTIA A+ (in progress)</li>
</ul>