<form action="/submit" method="post">
    <h1>Search Price Range</h1>
    Min Price: <input type="number" name="min"><br><br>
    Max Price: <input type="number" name="max"><br><br>
    <button type="submit">Submit</button>
</form>